@{
    ViewData["Title"] = "Sobre";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<hr />
<div class="text-left">
    <p>
        Esse portal é um iniciativa de membros da Ala Navegantes I, Estaca Navegantes, com o objetivo
        de auxiliar membros e amigos a acessarem as reuniões dominicais de A Igreja de Jesus Cristo dos
        Santos dos Últimos Dias.
    </p>
    <hr />
    <p class="small">*Não é uma pagina oficial da Igreja.</p>
</div>